&arduino_spi {
    status = "disabled";
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>;
        };
    };
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>; /* D10 */

    /* 添加一个通用 SPI 设备用于手动控制 */
    raw_spi: spi-dev@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>; /* 1MHz */
    };
};

/ {
    /* 定义一个专用节点来获取 GPIO，避开驱动绑定 */
    raw_epd_gpio {
        compatible = "gpio-keys";
        busy_pin: busy {
            gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
        reset_pin: reset {
            gpios = <&gpio1 10 GPIO_ACTIVE_LOW>; /* D8 */
        };
        dc_pin: dc {
            gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; /* D9 */
        };
    };
};
